.galleryContainer {
  position        : relative;
  display         : flex;
  flex-direction  : column;
  height          : 100vh;
  padding-top     : 12vh;
  background-color: var(--color-neutral);

  .image {
    object-fit: cover;
  }

  .arrowButtonContainer {
    margin: 0 auto;
  }

  .arrowButton {
    margin                     : 15px 15px 15px 0;
    opacity                    : 0.7;
    transition                 : opacity 0.3s ease-in-out;
    color                      : black;
    -webkit-tap-highlight-color: transparent; // Prevent blue highlight on iOS
    outline                    : none;

    &:hover {
      opacity: 1;
    }
  }

  .title {
    font-family: var(--font-heading);
    color      : var(--color-primary);
    text-align : center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    padding    : 1rem 0;
  }
}

@media (max-width: 600px) {
  .galleryContainer {
    padding-top: 10vh;

    .arrowButton {
      opacity   : 1;
      transition: all 0.3s ease-in;

      &:active {
        transform: scale(0.92);
        color    : white;
      }
    }
  }
}